In [12]:
import pandas as pd

vehicles = pd.read_csv('results.csv')

In [10]:
mean_car_lenght = vehicles[vehicles['type'] == 'car'].lenght.mean()
mean_car_lenght

139.16028718678186

In [6]:
import pandas as pd

trackers_objs = sort_tracker.trackers + sort_tracker.deleted_trackers

df = pd.DataFrame(columns=['id', 'type', 'initial_frame', 'detection_duration', 'lenght'])

for track in trackers_objs:
    df2 = pd.DataFrame({
        'id': track.id,
        'type': track.detclass_name,
        'initial_frame': track.initial_frame,
        'detection_duration': len(track.centroidarr),
        'detection_path': str(track.centroidarr),
        'lenght': track.length}, index=[0])
    
    df = pd.concat([df, df2], ignore_index=True)

df = df.sort_values(by=['id', 'initial_frame'])
df.to_csv('results_full.csv', index=False) 
df

        id   type initial_frame detection_duration      lenght
8        0    car             1                 41  117.513428
5        1  truck             2                  6  179.725708
4        2  truck             3                  1  266.224365
9        3    car            23                 21  159.738953
7        4    car            23                 14   77.170410
...    ...    ...           ...                ...         ...
5549  5547  truck        107881                  2  277.025146
0     5548    car        107886                 55  160.567810
1     5549    car        107890                 50  112.500366
2     5550    car        107919                 11  180.122818
3     5551    car        107928                 13   90.989380

[5552 rows x 5 columns]